.example-thumb{
    color:#fff;
    background: #000;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    top:-5px;
    position: relative;
}

.example-thumb::before{
    content: '';
    background: #0000003f;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 100%;
}



.horizontal-slider .example-track{
    background: gray;
    height: 5px;
    border-radius: 10px;
}
.horizontal-slider .example-track{
    background: gray;
}


.example-track.example-track-0{
    background: black;
}

.example-track.example-track-1{
    background: rgb(185, 183, 183);
}

.active-thumb{
    border: 1px solid black;
}
